<div class="container my-4">
  <div class="row mb-3">
    <div class="col-12">
      <app-search
        [(searchTerm)]="searchTerm"
        (searchTermChange)="onSearch()"
        (resetClick)="onReset()"
      ></app-search>
    </div>
  </div>
  <div *ngIf="isLoading" class="row">
    <div class="col-12 text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="error" class="row">
    <div class="col-12 text-center text-danger">
      {{ error }}
    </div>
  </div>
  <div *ngIf="movies.length > 0; else noData" class="row">
    <div class="col-12">
      <div class="movie-container">
        <app-movie *ngFor="let movie of movies" [movie]="movie"></app-movie>
      </div>
    </div>
  </div>
  <ng-template #noData>
    <div class="row">
      <div class="col-12 text-center">
        <p>Sem dados no momento.</p>
      </div>
    </div>
  </ng-template>
</div>
