html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1 0 auto; /* Allows body to grow and occupy available space */
}

main {
  flex: 1 0 auto; /* Ensures main content takes up the available space */
}

footer {
  flex-shrink: 0; /* Prevents the footer from shrinking */
  position: fixed;
  width: 100%;
  bottom: 0;
}
